.Country-body {
    
}

.Country-container {
    
}

.Country-name {
    font-size: 4em;
    font-weight: 600;
    text-align: center;
}

.Country-official-name {
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
    margin-top: -10px;
}

.Country-flag {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    border: 1px solid var(--clr-neutral-030);
}

.Country-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1024px) {
    .Country-block {
        flex-direction: column;
    }
    .Country-informations {
        width: 100% !important;
        margin-bottom: 20px;
    }
    .Country-block {
        margin-bottom: 0;
    }
}

.Country-informations {
    width: 49%;
    box-shadow: inset 0px 0px 10px 5px var(--clr-neutral-075);
    border-radius: 15px;
    padding: 20px;
}

.Country-highlight {
    font-weight: 600;
}

.Country-border-country {
    text-decoration: none;
}

.Country-border-country:hover {
    text-decoration: underline;
}