.Home-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Home-loading {
    margin: auto;
    margin-top: 100px;
    font-size: 3em;
    text-align: center;
    font-weight: 500;
}