.Home-body {
    padding-top: 30px;
    position: relative;
    z-index: 10;
    min-height: calc(100vh - 56px);
}

[app_theme=dark] .Home-body {
    background-color: var(--clr-neutral-015);
}

.Home-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Home-input {
    display: block;
    margin: 0 auto 30px auto;
    border-radius: 10px;
    padding-inline: 10px;
    min-width: 500px;
    outline: none;
    border: 1px solid var(--clr-neutral-030);
    font-size: 1.2em;
    box-shadow: 0px 0px 15px 5px var(--clr-neutral-075);
}

@media only screen and (max-width: 650px) {
    .Home-input {
        min-width: 250px;
    }
}

[app_theme=dark] .Home-input {
    box-shadow: 0px 0px 15px 5px var(--clr-neutral-030);
}