.Header-body {
    background: var(--header-background);
}

.Header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-block: 10px;
}

.Header-container h1 {
    font-size: 1.5em;
    color: var(--clr-neutral-100);
    cursor: pointer;
}

.Header-container a {
    text-decoration: none;
    align-self: center;
    color: var(--clr-neutral-100);
    font-weight: 200;
}

.Header-container a:hover {
    text-decoration: underline;
}