* {
    font-family: var(--ff-primary) !important;
}

.container {
    max-width: 1200px;
    padding-inline: 40px;
    margin: auto;
    color: var(--clr-neutral-015) !important;
}

a {
    color: var(--clr-neutral-015);
}

.loading {
    margin: auto;
    margin-top: 100px;
    font-size: 3em;
    text-align: center;
    font-weight: 500;
}

.error-404 {
    margin: auto;
    margin-top: 100px;
    font-size: 6em;
    text-align: center;
    font-weight: 600;
}